* {
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: black;
    font-size: 36px;
}

.section-block {
    padding: 15px;
}

p {
    position: relative;
    clear: right;
}

.block {
    background-color: gray;
    border: 3.5px solid black;
}

.sub {
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    border: 3.5px solid black;
}

.sub1 {
    background-color: pink;
}

.sub2 {
    color: white;
    background-color: red;
}

.sub3 {
    color: black;
    background-color: yellow;

}

.content {
    padding: 10px;
    background-color: gray;
    color: black;
    overflow: auto;
}

.row {
    width: 90%;
}

@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
